.canvas-container{
    position: relative;
}
canvas{
    border: 1px solid #333;
}
.konvajs-content{
    margin: 0 auto;
    border: 1px solid #333333;
}
table.canvas-toolbox{
    position: absolute;
    top: 50%;
    left: 70%;
    border: 1px solid #333;
    white-space:nowrap;
    border-collapse: collapse;
}
.canvas-toolbox tr td{
    border: 1px solid #333;
}
.toolbox-move{
    background: #000;
    cursor: move;
}
.area-toolbox{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    min-height: 150px;
    border: 1px solid #333333;
    padding: 10px;
}
.area-toolbox h2.no-tools{
    padding: 40px 0;
}
.text-tool h2{
    margin-top: 0;
}