.app-toolbar{
    background: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    z-index: 10;
}
.page-logo{
    width: 77%;
    height: 100%;
    margin: 0;
    padding-left: 10%;
}
.page-logo img{

}

.main-menu{

}

a.menu-link{
    padding: 20px 10px;
    text-decoration: none;
}
a.menu-link:hover span{
    color: lightgray;
}
.menu-link span{
    color: white;
}